.detailContainer {
  position: relative;
}

  .detailContainer {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      .detailTitle{
        grid-column: span 2;
        display: flex;
        flex-wrap: wrap;
      }
      img{
        max-width: 300px;
        width: 80%;
        height: 60%;
        margin: 0 auto;
      }
      .detailInfo {
        margin: 0 auto;
        grid-column: span 2;
      }
      .detailButtons {
        margin: 0 auto;
        grid-column: span 3;
      }
}
