@import "Buttons";
.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,1,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
 #modal{
   background-image: linear-gradient(to right top, #cccfd5, #d9dbdf, #e6e7ea, #f3f3f4, #ffffff);
   border-radius: 5px;
img{
  height: 65%;
  width: 90%;
  @media only screen and (max-width: 600px){
    height: 60%;
    width: 90%;
  }
}
   button{
     width: auto;
     height: auto;
   }
 }
}
.detailButtons {
  display: flex;
  flex-direction: column;
}