nav {
  width: 100vw;
  height: 100vh;
  background-image: url("/img/network.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  .contain {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;


    img {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 50px;
      margin-left: 10px;
    }

    .navButtons {
      width: 15%;

    }

    .buttons3 {
      height: 50px;
      width: 80%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      a{
        text-decoration: none;
      }
      h4{
        color: dodgerblue;
        &:hover{
          height: inherit;
          width: inherit;
          background: dodgerblue;
          color: white;
          transition: all 0.5s ease-in-out;
          border-radius: 5px;
          padding: 5px;
        }
      }

    }
  }

  .basketButton {
    height: 40px;
    width: 40px;
    background: transparent;
    border: transparent;
    color: dodgerblue;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    margin: 5px;
    padding: 0 5px 0 5px;
    font-weight: bolder;

    &:hover {
      background: dodgerblue;
      color: white;
      height: 45px;
      width: 45px;
    }

    &:focus {
      outline: none;
    }
  }
}



