@import "stylesComponent/Navbar";
@import "stylesComponent/ProductList";
@import "stylesComponent/DetailProduct";
@import "stylesComponent/Modal";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
